/* dark.css */
body, input, select, textarea {
  background-color: #1e1e1e !important;
  /*background-color: #121212 !important;*/
  color: #e0e0e0 !important;
}

a {
  color: #e0e0e0 !important;
}

a:hover, a:focus, a:active {
  /*color: #4db6ac !important;*/
  color: #888888 !important;
}

header, footer, article, .container, #main-navigation {
  background-color: #1e1e1e !important;
}

.the-content a {
  color: #888888 !important;
}

.the-content a:hover {
   color: #AAAAAA !important;
}

/*.the-content a:hover,
.the-content a:focus {
  color: #c1e0ff;
  text-decoration: underline;
}*/

article .the-content p,
.commentlist .comment,
.commentlist .pingback,
.comment-meta,
#respond form label,
#main-navigation ul li a {
  color: #cfcfcf !important;
}

input, textarea {
  background-color: #2c2c2c !important;
  border-color: #444 !important;
  color: #eee !important;
}

pre, code {
  background: #2d2d2d !important;
  color: #e0e0e0 !important;
}

.commentlist .pingback,
.bypostauthor {
  background-color: #222 !important;
}

.tagcloud,
footer {
  background: #1a1a1a !important;
}

